extends layout

block content
  each kategorija, i in kategorije
    ul.parent.list-group
      li.list-group-item
        h5
          strong=kategorija.ime_kategorije
      ul.child.list-group
        each komponenta, i in komponente
          if kategorija.kateg_id===komponenta.kateg_id
            li.list-group-item
              a(href="kategorije/"+kategorija.kateg_id+'/'+komponenta.id)=komponenta.ime_komponente
