extends layout

block content
  h1=rows[0].ime_komponente
  h3=rows[0].kratak_opis_komp
  table.table
    thead
      tr
        th(scope='col') Kolicina
        th(scope='col') Lokacija
    tbody
      each row, i in rows
        tr
          td=row.kolicina
          td=row.ime_lokacije
